{:kotoba.app/id "cloud.itonami.isic-9411", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreifwpf5srrfysjgzdtousfd2w753l56xt6ak3wtryoziuristb25om", :kotoba.app/embed-url "ipfs://bafkreifwpf5srrfysjgzdtousfd2w753l56xt6ak3wtryoziuristb25om", :published {:archive "https://kotobase.net/ipfs/bafkreifwpf5srrfysjgzdtousfd2w753l56xt6ak3wtryoziuristb25om", :size 77991, :put-status 201, :get-status 200, :at "2026-08-15T13:54:36.338Z"}}
